  * {
    margin: 0;
    padding: 0;
  }

  @font-face {
    font-family: Poppins-bold;
    src: url('./assets/fonts/Poppins-Bold.ttf');
  }
  
  @font-face {
    font-family: Poppins-boldItalic;
    src: url('./assets/fonts/Poppins-BoldItalic.ttf');
  }
  
  @font-face {
    font-family: Poppins-ExtraBold;
    src: url('./assets/fonts/Poppins-ExtraBold.ttf');
  }

  @font-face {
    font-family: Poppins-ExtraBoldItalic;
    src: url('./assets/fonts/Poppins-ExtraBoldItalic.ttf');
  }
  
  @font-face {
    font-family: Poppins-Italic;
    src: url('./assets/fonts/Poppins-Italic.ttf');
  }
  
  @font-face {
    font-family: Poppins-Regular;
    src: url('./assets/fonts/Poppins-Regular.ttf');
  }

  body {
    background-color: hsl(0, 0%, 86%);
    font-family: Poppins-Regular, sans-serif;
  }

  .big-container {
    background-color: white;
    margin: 50px 10px;
    border-radius: 5%;
    border-bottom-right-radius: 25%;
    padding: 40px 20px;
  }

  .form {
    display: grid;
    grid-template-columns : 1fr 1fr 1fr;
    margin-bottom: 25px;
  }

  .labels {
    text-transform: uppercase;
    color: hsl(0, 1%, 44%);
    font-family: Poppins-bold, sans-serif;
  }

  .inputs {
    display: block;
    width: 70%;
    height: 40px;
    border-radius: 5px;
    border: 2px solid hsl(0, 0%, 86%);
    margin-top: 5px;
    margin-bottom: -5px;
    color: hsl(0, 0%, 8%);
    font-family: Poppins-ExtraBold, sans-serif;
    font-size: 20px;
    padding-left: 10px;
  }

  input:active, input:focus {
    font-size: 13px;
    border: 2px solid hsl(259, 100%, 65%);
    outline: none;
    font-size: 20px;
    background-color: #ffffff;
  }

  .separator {
    position: relative;
    height: 50px;
    margin: 10px 0;
  }

  hr {
    position: absolute;
    width: 97%;
    margin: 25px 0;
    background: hsl(0, 1%, 62%);
  }

  .icon-arrow {
    position: absolute;
    z-index: 1;
    margin: auto;
    display: block;
    background-color: hsl(259, 100%, 65%);
    padding: 15px;
    width: 20px;
    left: 40%;
    border-radius: 50%;
    cursor: pointer;
  }

  .icon-arrow:hover {
    background-color: hsl(0, 0%, 8%);
  }

  .cont {
    display: flex;
    font-size: 50px;
    font-family: Poppins-ExtraBoldItalic, sans-serif;
  }

  .num {
    color: hsl(259, 100%, 65%);
    margin-right: 5px;
  }

  #reqDay {
    margin-top: -5px;
  }

  .errorState {
    color: hsl(0, 100%, 67%);
    font-size: 9px;
    font-family: Poppins-boldItalic, sans-serif;
  }

@media (min-width: 768px) {
  .big-container {
    width: 520px; 
    margin: 90px auto;
    padding: 40px 40px;
  }

  .form {
    margin: 0 120px 0 0;
  }

  .separator {
    margin-top: 0;
  }

  hr {
    margin: 30px 0;
  }

  .icon-arrow {
    right: 0;
    margin-right: 0;
    width: 30px;
  }

  .cont {
    font-size: 70px;
    margin-bottom: -25px;
  }
}
  
  .attribution { font-size: 11px; text-align: center; }
  .attribution a { color: hsl(228, 45%, 44%); }